.mainBody {
  background-color: #1c1c1c;
  height: 520px;
  width: 400px;
  min-width: 400px;
  border-radius: 15px;
  position: fixed;
  left: 10px;
  box-shadow: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
